body {
    background-image: url("background.jpg");
}

#search-bar {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	color: #FFFFFF;
	border-style: outset;
	padding-top: 20px;
    padding-bottom: 20px;
}

#search {
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}

#submit {
	font-size: 15px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#info-title {
	font-size: 25px;
	border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
}

.img-div {
	height: 530px;
	text-align: center;
}

.b-left {
	width: 30%;
}

.b-center {
	width: 30%;
}

.b-right {
	width: 30%;
}

#little-img {
	width: 400px;
	height: 400px;
	margin-left: 20%;
}

.modal {
	position: fixed;
	top: 20%;
	left: 30%;
	width: 40%;
	height: 730px;
	background-image: url("info_background.jpg");
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
    z-index: 1002;
}

.black_overlay {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
}

.tags {
	cursor: pointer;
}